<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
    <h1>Discover recipes</h1>
    
    <!-- Search form -->
    <form action="/discover" method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search recipes" name="query">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </div>
    </form>
    
    <!-- Iterate through the recipes and display them as cards -->
    <div id="DiscoverCards" class="row">
    <% for (let recipe of recipes) { %>
        <div class="col-md-4">
            <div class="card">
            <img src="<%= recipe.image %>" class="card-img-top" alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">
                    <%= recipe.title %>
                </h5>
                <form action="/recipe/<%= recipe.id %>" method="GET">
                    <button type="submit" class="btn btn-primary">View Recipe</button>
                </form>
            </div>
            </div>
            </div>
            <% } %>
                </div>
</div>
</main>

<%- include ('../partials/footer') %>
