<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <% if (grub.length !== 0) { %>
    <% grub.forEach(function(data, index) { %>
        <div>
            <%= index + 1 %>
            <h2><%= data.recipe_name %></h2>
            <p>Posted by: <%= data.username %></p>
            <p>Recipe ID: <%= data.recipe_id %></p>
            <img src="<%= data.file_path %>" alt="<%= data.file_name %>" style="max-width: 100%;">
            <h3>Instructions:</h3>
            <p><%= data.instruction %></p>
            <h3>Ingredients:</h3>
            <ul>
                <!-- <% for(let i = 0; i < recipe.ingredients.length; i++) { %>
                    <li><%= recipe.ingredients[i] %> - <%= recipe.quantity[i] %> <%= recipe.units[i] %></li>
                <% } %> -->
            </ul>
            <p>Uploaded on: <%= data.uploadTime %></p>
        </div>
    <% }) %>
    <% } else { %>
        <p>NADA</p>
        <% } %>
</main>

<%- include ('../partials/footer') %>
