<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main class="container mt-4">
    <div class="row">
    <div class="col-md-8">
        <div class="card">
            <img src="<%= recipeInfo.image %>" alt="<%= recipeInfo.title %>" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title">
                    <%= recipeInfo.title %>
                </h1>
                <!-- <div class="recipe-details">
                    <p class="card-text">Servings: <%= recipeInfo.servings %>
                    </p>
                    <p class="card-text">Ready in: <%= recipeInfo.readyInMinutes %> minutes</p>
                     Add more details as needed -->
                <!-- </div>  -->

                <div class="ingredients mt-4">
                    <h2 style = "text-align: center;">Ingredients:</h2>
                    <div class="list-group">
                        <% recipeInfo.extendedIngredients.forEach((ingredient)=> { %>
                            <div class="list-group-item">
                                <span>
                                    <%= ingredient.original %>
                                </span>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <div class="instructions mt-4">
                    <h2>Instructions:</h2>
                    <!-- You can use analyzedInstructions if available, or instructions if not -->
                    <%- recipeInfo.analyzedInstructions.length ?
                        renderInstructions(recipeInfo.analyzedInstructions) : recipeInfo.instructions %>
                </div>
                <div class="recipe-summary mt-4">
                    <h2>Summary:</h2>
                    <p>
                        <%= recipeInfo.summary %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Include the comments section -->
        <%- include ('../partials/comments.ejs', { comments: recipeInfo.comments }) %>
    </div>
    </div>
</main>
<%- include ('../partials/footer') %>   
<% function renderInstructions(instructions) { %>
    <ol>
        <% instructions.forEach((step)=> { %>
            <li>
                <%= step.step %>
            </li>
        <% }); %>
    </ol>
<% } %>